aws_secretsmanager_caching
boto3
botocore
colorama
croniter
dill
GitPython
ijson
keepachangelog
lz4
mixpanel
numpy
openpyxl
pandas
pip
protobuf
pytest
python_dateutil
pytz
Requests
requests_mock
tzlocal
pydantic
ephem