<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
</head>


<body marginwidth="0" marginheight="0" style="width:100% !important; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; padding:0px; margin:0px; background-color:#eeeeee;">
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td valign="top" align="center" style="background-color:#3388ee;">

        <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:580px;">
          <tr>
            <td>
            
              <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;">
                <tr>
                  <td style="width:50%;" valign="middle">
                    <a href="http://presencepro.com" style="margin-left:4px;"><img src="http://peoplepowerco.com/email/img/presence-logo.png" style="width:90%;"></a>
                  </td>
                  <td style="width:50%; text-align:right;" valign="middle" align="right">
                    <a href="https://itunes.apple.com/us/app/presence-by-people-power/id618598211?mt=8"><img src="http://peoplepowerco.com/email/img/app-store.png" alt="Available in the app store" style="width:35%;"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.peoplepowerco.presencepro" style="margin-right:4px;"><img src="http://peoplepowerco.com/email/img/google-play.png" alt="Android app on Google Play" style="width:35%;"></a>
                  </td>
                </tr>
              </table>
              
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
    <tr>
      <td valign="top" align="center">
      
        <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:580px; background-color:#ffffff;">
          <tr>
            <td style="padding:0px;">
              <a href="https://app.presencepro.com"><img src="cid:inlineImageId" width="100%" alt=""></a>
            </td>
          </tr>
          <tr>
            <td style="padding:0px 20px;">
              <p style="margin:10px 0px; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-weight:200; font-size:20px; text-align:center;">
                $message
              </p>
              <br /><br /><br />
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
    <tr>
      <td valign="top" align="center">
      
        <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:580px; padding:10px;">
          <tr>
            <td style="vertical-align:middle; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-weight:200; font-size:12px;">
              &copy;2016 People Power Co.<br>
              <a href="mailto:support@peoplepowerco.com" style="color:#194477;">support@peoplepowerco.com</a>
            </td>
            <td align="right">
              <a href="http://facebook.com/peoplepowerco"><img src="http://peoplepowerco.com/img/iconFacebook.png"></a>
              <a href="http://youtube.com/user/peoplepowerco"><img src="http://peoplepowerco.com/img/iconYouTube.png"></a>
              <a href="http://twitter.com/#!/peoplepowerco"><img src="http://peoplepowerco.com/img/iconTwitter.png"></a>
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
  </table>
</body>
</html>